body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
    padding: 0 20px; /* added padding for smaller screens */
}

nav {
    margin-top: 1em;
}

a.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a.button:hover {
    background-color: #45a049;
}

/* Responsive styling */
@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 1.5em;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
